<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>coffeelab</title>
    <meta name="Resource-type" content="Document">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/darkly.css">
    <link rel="stylesheet" href="../static/bower_components/fullpage.js/pure_javascript/javascript.fullPage.css">
    <link rel="stylesheet" href="../static/styles/custom_style.css">
    <link rel="stylesheet" href="../static/styles/bootstrap-widget.css">
    <link rel="stylesheet" href="../static/styles/cart.css">
</head>
<body>
<div id="fullpage">
    <div class="section" id="section0">
        <div class="content"><h1>COFFEELAB</h1>
            <p>Отличный кофе и ничего лишнего.</p></div>
    </div>
    <div class="section" id="section1">
        <div class="content"><h1>8:00 - 22:00</h1>
            <p>Изобретаем новые вкусы</p></div>
    </div>
    <div class="section" id="section2">
        <div class="slide" id="slide1">
            <div class="content"><h1>Оформите заказ</h1><br>
                <p>Более 45 напитков на основе кофе.</p>
                <p>Попробуй и запомни свой любимый вкус.</p></div>
        </div>
        <div class="slide" id="slide2">
            <div class="well bs-component">
                <form class="form-horizontal" action="/reserve-place/" method="post">{% csrf_token %}
                    <fieldset class="fields">
                        <center>
                            <legend class="for-legend">Забронировать столик</legend>
                        </center>
                        <div class="form-group"><label for="inputName" class="col-lg-2 control-label">Имя</label>
                            <div class="col-lg-10"><input type="text" class="form-control" name="inputName"
                                                          id="inputName" required=""></div>
                        </div>
                        <div class="form-group"><label for="inputNumber" class="col-lg-2 control-label">Номер
                            телефона</label>
                            <div class="col-lg-10"><input type="number" class="form-control" name="inputNumber"
                                                          id="inputNumber" placeholder="+38 (XXX) XXX-XX-XX"
                                                          required=""></div>
                        </div>
                        <div class="form-group"><label for="inputCount" class="col-lg-2 control-label">Количество
                            человек</label>
                            <div class="col-lg-10"><input type="number" class="form-control" name="inputCount"
                                                          id="inputCount" maxlength="2" required="" min="1"></div>
                        </div>
                        <div class="form-group"><label for="inputDate" class="col-lg-2 control-label">Дата</label>
                            <div class="col-lg-10"><input type="date" class="form-control" name="inputDate"
                                                          id="inputDate" required=""></div>
                        </div>
                        <div class="form-group"><label for="inputTime" class="col-lg-2 control-label">Время</label>
                            <div class="col-lg-10"><input type="time" class="form-control" name="inputTime"
                                                          id="inputTime" required=""></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default" id="reset">Отмена</button>
                                <button type="submit" class="btn btn-primary" id="submit">Подтвердить</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="slide" id="slide2">
            <div class="well bs-component">
                <fieldset class="fields">{% csrf_token %}
                    <div class="shop-items">
                        <div class="container-fluid">
                            <button class="advanced-btn btn btn-default"><a href="#" class="cart-button"
                                                                            style="display: none;"><span
                                    class="cart-button-quantity"></span> <span class="cart-button-label"></span></a>
                            </button>
                            <div class="row">
                                {% for product in products %}
                                    <div class="col-md-3 col-sm-6">
                                    <div class="item"><img class="img-responsive"
                                                           src="{{ product.image.url }}" alt="">
                                        <div class="item-dtls"><h4><a href="#">{{ product.name }}</a></h4><span
                                                class="price lblue">{{ product.price }} ₽</span></div>
                                        <div class="ecom bg-lblue"><a href="#" class="cart-buy-button btn"
                                                                      data-name="{{ product.name_id }}" data-price="{{ product.price }}"
                                                                      data-quantity="1">Добавить в корзину</a></div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<script src="../static/scripts/jquery.min.js"></script>
<script src="../static/bower_components/fullpage.js/pure_javascript/javascript.fullPage.min.js"></script>
<script type="text/javascript">
    fullpage.initialize('#fullpage', {
        anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
        menu: '#menu',
        css3: true
    });

</script>
<script src="../static/scripts/salejs.js"></script>
<script type="text/javascript">
    cartjs.initialize({
        language: 'russian', // Также доступны 'english' и 'ukrainian'.
        currency: '₽',
        baseUrl: ' ',

        // Дополнительные опции, можно их не указывать.
        requireName: true,      // Спрашивать имя покупателя.
        requirePhone: true,      // Спрашивать телефон покупателя.
        requireEmail: false,     // Спрашивать почту покупателя.
        requireAddress: true,     // Спрашивать адрес покупателя.
    })
</script>
<script src="../static/scripts/bootstrap.js"></script>
<script src="../static/scripts/russian.js"></script>
</body>
</html>